{% extends '::base.html.twig'%}
    {% block header %}
    {% endblock %}
    {% block body %}

        <div class="col-12">

        <h1 class="my-4">Ce avem bun!?
            <small><p href="{{ path('category', {'id':category.id})  }}" >{{category.name}}</p></small>
        </h1>
        <ul class="navbar-nav">
            {% for product in products %}
                <div class="card mb-4">
                    <img class="card-img-top" {% if product.mainPhoto %}
                        <img src="/uploads/photos/{{ product.mainPhoto.path}}/750x300" width="100">
                    {% else %}
                        <img src="http://placehold.it/750x300" alt="Card image cap" width="100">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ product.name }}</h2>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <h1>Produs/Prins de noi!</h1>
                        <h2 style="color: navy">{{ product.price }} lei</h2>
                        <a href="{{ path('product', {'id':product.id}) }}" class="btn btn-primary" style="color: white;alignment: right"> Mai multe detalii !!!&rarr;</a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endblock %}