{% extends '::base.html.twig'%}

{% block body %}


    <div class="card col-12 mb-4">

        <img class="card-img-top" {% if product.mainPhoto %}
    src="/uploads/photos/{{ product.mainPhoto.path}}" alt="Card image cap" width="100">
    {% else %}
        <img src="http://placehold.it/750x300" alt="Card image cap" width="100">
    {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-text">{{ product.description }}</p>
        </div>
        <div class="card-footer text-muted">
            <h2>Produs/Prins de noi!</h2>
            <h3 style="color: navy">{{ product.price }} lei / buc.<h3>
            <form action="{{ path('app_cart_addtocart',{'id':product.id}) }}" name="selectQuantity" id="selectQuantity" method="POST">
                <div class="quantity">
                        <label for="selectQuantity">Cantitate + {% if cartItem.quantity is defined %}{{ cartItem.quantity }} {% endif %}</label>
                        <select id="selectQuantity" name="selectQuantity" form="selectQuantity">
                        <option value="1">1 buc.</option>
                        <option value="2">2 buc.</option>
                        <option value="3">3 buc.</option>
                        <option value="4">4 buc.</option>
                        <option value="5">5 buc.</option>
                        <option value="6">6 buc.</option>
                        <option value="7">7 buc.</option>
                        <option value="8">8 buc.</option>
                        <option value="9">9 buc.</option>
                        <option value="10">10 buc.</option>
                    </select>
                </div>

            <button class="btn btn-primary" type="submit" style="color: white">Adauga in cos!!!</button>
            </form>
            </div>
    </div>

{% endblock %}